<footer class="text-center text-lg-start text-muted black">
  <hr class="underline-hr-1" />
  <section class="d-flex">
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            <img src="/images/logo-1.png" alt="" class="logo-1" />
          </h6>
          <p class="font-text mt-5 ml-auto">
            We develop indie games with creative gameplay and immersive stories.
          </p>
          <form class="form float-left">
            <i class="fab fa-xbox gap"></i>
            <i class="fab fa-playstation gap"></i>
            <i class="fab fa-windows gap"></i>
            <i class="fab fa-steam gap"></i>
          </form>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 aline">

          <h6 class="text-uppercase fw-bold mb-4 text">
            OUR GAME
          </h6>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Jim & Brimestone
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Jungle Pharaoh
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Stargazer | |
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Rogue Shooter
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 aline">
          <h6 class="text-uppercase fw-bold mb-4 text">
            COMPANY
          </h6>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Our Studio
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Our Games
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Merchandise
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Shopping Cart
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 aline">
          <h6 class="text-uppercase fw-bold mb-4 text">Contact</h6>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Our Location
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Latest News
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            Press Inquiries
          </p>
          <p class="text-reset">
            <i class="fa-solid fa-chevron-right"></i>
            General Inquiries
          </p>
        </div>
      </div>
      <div class="underline">
        <hr class="underline-hr" />
      </div>
      <p class="text-change ml-auto">All Rights Reserved. Designed & Developed
        by ProgressionStudios</p>

    </div>
  </section>

</footer>