<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="" srcset="" class="logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fa-solid fa-bars" style="color: #ffff; font-size:25px;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link {{#isActiveLink '/'}} active{{/isActiveLink}}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#isActiveLink '/our-game'}} active{{/isActiveLink}}" href="/our-game">Our Gaming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#isActiveLink '/studio'}} active{{/isActiveLink}}" href="/studio">Our Studio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#isActiveLink '/shop'}} active{{/isActiveLink}}" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#isActiveLink '/blog'}} active{{/isActiveLink}}" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#isActiveLink '/contact'}} active{{/isActiveLink}}" href="/contact">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <i class="fab fa-xbox"></i>
        <i class="fab fa-playstation"></i>
        <i class="fab fa-windows"></i>
        <i class="fab fa-steam"></i>
      </form>
    </div>
  </div>
</nav>
