<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/our-game.css">


</head>
<body>


    {{>navbar}}
    <div class="our-game">
        <div class="our-bg-1">
            <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="our-game-h1">OUR GAMES</h1>
                    <p class="our-game-p">We Develop Games with Creative Gameplay and Immersive Stories</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <section class="section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rainbow Seven</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is
                                an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Racing Series 3
                            </h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card mb-3">

                        <img src="./images/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Stargazer II</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lost Ark</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jungle Pharaoh</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">World War V</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="logo-ashish">
        <div class="logo-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo-bg">
                            <div class="">
                                <img src="./images/png-1.png" alt="" class="logo-bg-l">
                                <h5 class="logo-title">Design & Strategy</h5>
                                <p class="logo-text">Alphabet Village and the subline of her own <br> road, the Line
                                    Lane. Pityful a rethoric question ran over her cheek</p>
                                <a href="" class="learn-green">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="logo-bg">
                            <div class="">
                                <img src="./images/png-2.png" alt="" class="logo-bg-l">
                                <h5 class="logo-title">VR Development</h5>
                                <p class="logo-text">Alphabet Village and the subline of her own <br> road, the Line
                                    Lane. Pityful a rethoric question ran over her cheek</p>
                                <a href="" class="learn-green">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="logo-bg">
                            <div class="">
                                <img src="./images/png-3.png" alt="" class="logo-bg-l">
                                <h5 class="logo-title">Marketing & PR</h5>
                                <p class="logo-text">Alphabet Village and the subline of her own <br> road, the Line
                                    Lane. Pityful a rethoric question ran over her cheek</p>
                                <a href="" class="learn-green">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="NEWSLETTER">OUR NEWSLETTER</h6>
                        <hr width="37px" style="color: white; ">
                        <p class="NEWSLETTER-P">Sign up for our e-mail newsletter and stay informed for what’s next on
                            <br> the horizon.</p>
                    </div>
                    <div class="col-md-6 email-input">
                        <input type="email" name="email" placeholder="Your email address" required>
                        <input type="submit" value="Sign up">
                    </div>
                </div>
            </div>

        </div>

    </section>

    {{>footer}}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="module" src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>