<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/views2.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    {{>navbar}}
    <section>
        <div class="view-bg">
            <div class="view-bg-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="mar" style="margin-top: 55vh;">
                                <a href="" class="view-a">FPS</a>
                                <h1 class="view-h1">Stargazer II</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #03090d;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="big-f">
                        <h1>F</h1>
                        <p>ar far away, behind the word mountains, far from the countries Vokalia <br> and Consonantia,
                            there live the blind texts. Separated they live in <br> Bookmarksgrove right at the coast of
                            the Semantics.</p>
                    </div>
                    <div class="big-p">
                        <p class="p1">When she reached the first hills of the Italic Mountains, she had a last view back
                            on the
                            skyline of her <br> hometown Bookmarksgrove, the headline of Alphabet Village and the
                            subline of her own road, the Line <br> Lane. Pityful a rethoric question ran over her cheek.
                        </p>
                        <h5>Main Objective</h5>
                        <p class="p2">She had a last view back on the skyline of her hometown Bookmarksgrove, the
                            headline of Alphabet <br> Village.</p>
                        <p class="p3">The copy warned the Little Blind Text, that where it came from it would have been
                            rewritten a thousand <br> times and everything that was left from its origin would be the
                            word “and” and the Little Blind Text should <br> turn around and return to its own, safe
                            country.

                        </p>
                        <img src="./blog-post.jpg" alt="" width="95%">
                        <h5>Gameplay</h5>
                        <p class="p2">Alphabet Village and the subline of her own road, the Line Lane. Pityful a
                            rethoric question ran over her <br> cheek, then she continued her way.</p>
                        <p class="p3">On her way she met a copy. The copy warned the Little Blind Text, that where it
                            came from it would have <br> been rewritten a thousand times and everything that was left
                            from its origin would be the word “and” and <br> the Little Blind Text should turn around
                            and return to its own, safe country.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-side">
                        <a href="" class="purchase">Purchase - $24.99</a>
                        <p class="on"><span>RELEASED ON</span> <br>
                            1/12/16</p>
                        <p class="on1"><span>PUBLISHER</span> <br>
                            Xion Studios</p>
                        <p class="on1"><span>RATING </span><br>
                            ESRB</p>
                        <p class="on1"><span>FILE SIZE</span> <br>
                            6.8 GB</p>
                            <p class="on1"><span>PLATFORMS</span> <br>
                                6.8 GB</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h1 class="more">MORE RELEASES</h1>
            <div class="row">
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/9.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jim & Brimstone</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is
                                an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rainbow Seven</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card mb-3">
                        <img src="./images/10.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rogue Shooter</h5>
                            <p class="card-text">Even the all-powerful pointing has no control about the blind texts it
                                is an almost unorthographic life.</p>
                            <button class="btn btn-dark">view Game</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="logo-ashish">
        <div class="logo-bg" style="margin-top: 34px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="NEWSLETTER">OUR NEWSLETTER</h6>
                        <hr width="37px" style="color: white; ">
                        <p class="NEWSLETTER-P">Sign up for our e-mail newsletter and stay informed for what’s next
                            on
                            <br> the horizon.
                        </p>
                    </div>
                    <div class="col-md-6 email-input">
                        <input type="email" name="email" placeholder="Your email address" required>
                        <input type="submit" value="Sign up">
                    </div>
                </div>
            </div>

        </div>

    </section>

{{>footer}}

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="module" src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>